{:deps  {local/deps      {:local/root "tasks"}
         io.aviso/pretty {:mvn/version "1.4"}}
 :tasks {backup-proposals effect/backup-proposals
         deploy           effect/deploy
         unlock           effect/unlock
         init             effect/init
         process-cycle    effect/process-cycle
         deploy-mainnet   effect/msig-deploy
         atp              effect/make-atp}}
