.site-footer { display: none; }

$primary-color: #243454;
$text-color: #363636;
$grey-lt-000: #f0f2f7;
$grey-lt-100: #cdd4e6;

$border-color: $grey-lt-100;
$border: 1px solid;

// $btn-primary-color: $primary-color;
$body-text-color: $text-color;
$link-color: $primary-color;
